<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>ADD_MAPBOX_ACCESS_TOKEN_HERE</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show your current position on the map and provide location-based features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show your current position on the map and provide location-based features.</string>
</dict>
</plist>
